<div class="text-center">
  <br>
  <a href="home.html">
  <%= link_to root_path do %>
    <%= image_tag 'image/pucit.png', width: '50', height: '50' %>
  <% end %>
  </a>
  <br>
  <br>
  <%= link_to 'Home', root_path %> | <%= link_to 'Gallery', gallery_path %> | <%= link_to 'Contact Us', new_contact_path %>
  <hr>
  <br>

</div>