
<% @contacts.each do |contact| %>
<table width="70%" border="2" align="center">
  <tr>
  	<td width="50" align="left">Name:</td>
    <td width="50" align="left">
      <%= contact.name %>
    </td>
  </tr>
  <tr>
  	<td width="50" align="left">Phone No:</td>
    <td width="50" align="left">
      <%= contact.phone %>
    </td>
  </tr>
  <tr>
  	<td width="50" align="left">Email</td>
    <td width="50" align="left">
      <%= contact.email %>
    </td>
  </tr>
  <tr>
  	<td width="50" align="left">Gender:</td>
    <td width="50" align="left">
      <%= contact.gender.humanize %>
    </td>
  </tr>
  <tr>
  	<td width="50" align="left">Favorite Foods:</td>
    <td width="50" align="left">
      <%= contact.favourite_foods.present? ? contact.favourite_foods : "None" %>
    </td>
  </tr>
</table>
  <br><br><br>
<% end %>