<p align="left">
	<u><i>Kindly fill this form to contact us:</i></u> <br>
  <%= link_to 'Previous Contacts', contacts_path, class: '' %>
</p><br><br>
<table width="70%" border="2" align="center">
  <%= form_for @contact do |f| %>
  <tr>
  	<td width="50" align="left">Name</td>
    <td width="50" align="left">
      <%= f.text_field :name, class: "", required: true %>
    </td>
  </tr>
  <tr>
		<td width="50" align="left">Phone No</td>
  	<td width="50" align="left">
      <%= f.text_field :phone, class: "", required: true %>
	  </td>
	</tr>
  <tr>
		<td width="50" align="left">Email</td>
	  <td width="50" align="left">
      <%= f.text_field :email, class: "", required: true %>
	  </td>
	</tr>
  <tr>
    <td width="50" align="left">Gender</td>
	  <td width="50" align="left">
      <%= f.radio_button :gender, :male, class: '', required: true %> Male <br>
      <%= f.radio_button :gender, :female, class: '' %> Female <br>
      <%= f.radio_button :gender, :both, class: '' %> Both <br>
      <%= f.radio_button :gender, :neither, class: '' %> Neither <br>
      <%= f.radio_button :gender, :apachi_helicopter, class: '' %> Apachi Helicopter <br>
      <%= f.radio_button :gender, :rather_not_say, class: '' %> Rather Not Say
    </td>
  </tr>
  <tr>
    <td width="50" align="left">Favorite Foods</td>
	  <td width="50" align="left">
      <%= check_box_tag :poison, "Poison", false, class: '' %> Poison <br>
      <%= check_box_tag :elixir_of_life, "Elixir of Life", false, class: '' %> Elixir of Life <br>
      <%= check_box_tag :snails, "Snails", false, class: '' %> Snails <br>
      <%= check_box_tag :cockroaches, "Cockroaches", false, class: '' %> Cockroaches <br>
      <%= check_box_tag :roasted_cat, "Roasted Cat", false, class: '' %> Roasted Cat <br>
      <%= check_box_tag :rare_cooked_spicy_bat, "Rare-Cooked Spicy Bat", false, class: '' %> Rare-Cooked Spicy Bat <br>
      <%= check_box_tag :dog_soup, "Dog Soup", false, class: '' %> Dog Soup <br>
    </td>
  </tr>
    
  <tr>
    <td width="50" align="left"></td>
	  <td width="50" align="left">
      <%= f.submit "Send My Data", class: "" %>
    </td>
  </tr>
  <% end %>
</table>
