
<h1>Gallery</h1><br>
<div class="">
  <%= image_tag 'image/c.jpeg', height: '163' %>
  <%= image_tag 'image/d.jpeg' %>
  <%= image_tag 'image/f.jpeg', height: '163', width: '300' %>
  <br>
  <%= image_tag 'image/k.jpeg' %>
  <%= image_tag 'image/j.jpeg' %>
  <%= image_tag 'image/i.jpeg' %>
  <br>
  <%= image_tag 'image/h.jpeg', width: '300' %>
  <%= image_tag 'image/m.jpeg', width: '300' %>
  <%= image_tag 'image/l.jpeg', width: '300', heigth: '168' %>
  <br><br><br><br><br>
</div>