

<h3 class="text-center mb-4">Gallery</h3>

<div class="row row-cols-1 row-cols-md-4 g-4">
  <div class="col">
    <div class="card">
      <%= image_tag 'gallery/1.jpg', class: "card-img-top" %>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <%= image_tag 'gallery/2.jpg', class: "card-img-top" %>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <%= image_tag 'gallery/3.jpg', class: "card-img-top" %>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <%= image_tag 'gallery/4.jpg', class: "card-img-top" %>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <%= image_tag 'gallery/5.jpg', class: "card-img-top" %>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <%= image_tag 'gallery/6.jpg', class: "card-img-top" %>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <%= image_tag 'gallery/7.jpg', class: "card-img-top" %>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <%= image_tag 'gallery/8.jpg', class: "card-img-top" %>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <%= image_tag 'gallery/9.jpg', class: "card-img-top" %>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <%= image_tag 'gallery/10.jpg', class: "card-img-top" %>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <%= image_tag 'gallery/11.jpg', class: "card-img-top" %>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <%= image_tag 'gallery/12.jpg', class: "card-img-top" %>
    </div>
  </div>
</div>